<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<h1>Seja bem vindo(a) ao sistems de Gestao de Eventos</h1>
		<h3> Escolha uma opcao <h3>
		
		
		<ul>
			<li> 
				<a href="/convidados/lista">Lista de Convidados</a>
			</li>
			<li> 
				<a href="/convidados/novo">Novo Convidado</a>
			</li>
		</ul>
	</div>
</body>
</html>